* {
  font-family: "Cormorant Garamond", serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


.all-section-header h3 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 16px;
}


.section-sticker {
  position: absolute;
  background-image: url(../img/small-sticker.png);
  width: 311.57px;
  height: 128.6px;
}


.section-n1 {
  padding: 0px;
}

.garden-banner {
  height: 80vh;
  background-image: url(../img/banner-2.png);
  background-size: cover;
  background-position: 50% 0;
}

.section-n1 .container {
  max-width: 1180px !important;
  background-color: #fff;
}


.contact-header {
  padding-top: 13px;
  align-items: center;
}

.contact-header .phone-number a {
  text-decoration: none;
  color: #000;
  padding-left: 6px;
}

.contact-header .social-media {
  display: flex;
  flex-direction: row-reverse;
}

.contact-header .social-media a {
  padding-left: 16px;
}

.contact-header hr {
  margin-top: 8px !important;
  width: 97.8% !important;
  background-color: #000;
  border: 1px solid #000 !important;
  margin: auto;
}



.navbar {
  transition: all 0.7s ease;
  background-color: #fff;
}


.navbar-custom-bg {
  background-color: #fff;
}

.navbar-toggler {
  border: #ffbf00 solid 1px;
  background-color: #91b40d;
}

.selected {
  color: white !important;
  border-radius: 3px;
  background-image: url(../icons/rectangle.png);
  background-size: cover;
  transition: all 0.4s;
}

.nav-item:nth-child(-n + 6) .nav-link {
  padding-left: 15px;
  padding-right: 15px !important;
  font-size: 22px;
  color: #3e3737;
  transition: all 0.4s;
}

.nav-item .nav-link:hover {
  color: white !important;
  border-radius: 3px;
  background-image: url(../icons/rectangle.png);
  background-size: cover;
}

.mobile-search-icon {
  padding-right: 15px;
  margin-left: auto;
  display: none;
}

.navbar-nav .search-icon a {
  padding: 8px 2px !important;
}

.navbar-nav .search-icon img {
  padding: 8px 0px !important;
}


#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  display: none;
}


#search.open {
  opacity: 1;
  z-index: 20;
  display: block;
}

#search #input {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -51px;
  width: 60%;
  margin-left: 20%;
  color: rgb(255, 191, 0, 0.8);
  background: transparent;
  border-top: 1px solid rgba(235, 235, 235, 0.8);
  border-bottom: 1px solid rgba(235, 235, 235, 0.8);
  border-left: 1px solid rgba(235, 235, 235, 0.8);
  border-right: 1px solid rgba(235, 235, 235, 0.8);
  font-size: 40px;
  font-family: Roboto;
  font-weight: 300;
  text-align: left;
  outline: none;
  padding: 10px;
}


#search .close {
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: fixed;
  top: 80px;
  right: 80px;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}




.garden-banner {
  position: relative;
  height: 500px;
  background-image: url(../img/banner-2.png);
  background-size: cover;
  background-position: 50% 0;
}

.garden-banner .banner-sticker {
  max-width: 100%;
  height: auto;
  position: absolute;
  right: 113px !important;
  bottom: -100px;
}



.section-n2 {
  padding: 50px 10px;
  position: relative;
}

.s2-sticker-position {
  left: -40px;
}

.section-n2 .container {
  max-width: 1220px;
}

.section-header h3 {
  padding-left: 70px;
  text-align: left;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}
.section-n2 .row {
  padding-top: 100px !important;
}

.section-n2 .left h4 {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

.section-n2 .left {
  padding: 30px;
}

.section-n2 .left button {
  border: none;
  margin-top: 20px;
  background-color: #91b40d;
  font-size: 1rem;
  font-weight: bold;
}

.section-n2 .left button:hover {
  background-color: #ffbf00;
}

.section-n2 .right {
  background-color: #91b40d;
  padding-top: 4%;
}
.section-n2 .right p {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.section-n2 .right a {
  margin: 5px;
  background-color: #fff;
  text-decoration: none;
  padding: 9px 11px;
}

.section-n2 .right a i {
  color: #91b40d;
}



footer {
  position: relative;
  width: 1440px;
  height: auto;
  background-image: url(../img/garden-footer.png);
  background-size: cover;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

footer .container {
  max-width: 1208px;
}

footer .row {
  padding-top: 277px;
  text-align: left;
}


footer img {
  max-width: 100%;
  height: auto;
}

footer h6 {
  color: #303030;
  font-size: 20px;
  font-weight: bold;
}

footer .col-xl-3,
footer .col-xl-2 {
  padding-top: 28px;
}

footer ul {
  padding: 0;
  list-style: none;
}

footer ul li {
  line-height: 40px;
}

footer ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #303030;
}

footer ul li a:hover {
  color: #91b40d;
  font-weight: bold;
  text-shadow: 1px 1px 8px #fff;
}

footer hr {
  width: 100% !important;
  background-color: #303030;
  border: 1px solid #303030;
  opacity: 0.3;
}


footer p {
  padding: 5px 0px 20px 0px;
  margin: 0px;
  color: #000;
  font-weight: bold;
  font: 18px;
}


.to-top {
  position: absolute;
  right: 10%;
  bottom: 20%;
}
.to-top a {
  text-decoration: none;
  background: #FFBF00;
  width: 42px;
  height: 42px;
  color: white;
  opacity: 1;
  cursor: pointer;
  transition: all 0.4s;
  border-radius: 3px;
}

.to-top a:hover {
  background-color: #ffbf00;
  color: black;
}

.to-top i {
  margin: 0;
  padding: 0;
  font-size: 20px;
}





@media screen and (max-width: 1199px) {
  .nav-item .nav-link {
    font-size: 20px !important;
  }
  .banner-sticker {
    zoom: 0.7;
  }

  .to-top {
    right: 5%;
    bottom: 2%;
  }
}



@media screen and (max-width: 991px) {
  .navbar-nav .search-icon {
    display: none;
  }

  .mobile-search-icon {
    display: block;
  }
}


@media screen and (max-width: 767px) {
  .banner-sticker {
    zoom: 0.6;
  }

  .right {
    padding: 60px 20px;
  }

  .to-top {
    bottom: 1%;
  }
}


@media screen and (max-width: 575px) {
  .banner-sticker {
    display: none;
  }

  .section-header h3 {
    font-size: 32px;
    margin-bottom: 10px;
    padding: 0px;
    text-align: center;
  }

  .section-n1 .contact-header {
    text-align: center;
  }

  .section-n1 .contact-header .social-media {
    margin-top: 10px;
    justify-content: center;
    flex-direction: row !important;
  }

  .right img {
    zoom: 0.8;
  }
  .right p {
    font-size: 14px !important;
  }

  footer .col-12 {
    padding-top: 30px;
    text-align: center;
  }
}


@media screen and (max-width: 480px) {
  .section-sticker {
    display: none;
  }
}
